@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
  }

/* *{
    margin: 0;
    padding: 0;
} */

.center{
    display: flex;
    justify-content: center;
}

nav>a{
    font-size: xx-large;
}

nav{
/* border: 2px, solid, red; */
    background-color: lightgray;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

a:link, a:visited {
    color: black;
}

#contact{
    position: relative;
    bottom: 12rem
}

nav>a{
    text-decoration: none;
}

#intro>p{
    padding: 1rem;
}

section{
    /* border: 1px solid black; */
    /* background-color: lightgoldenrodyellow; */
    height: 120vh;
    margin: 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30vh;
}

div.container{
    /* border: 1px solid black; */
    /* background-color: lightgreen; */
    background-color: white;
    width: 80vw;
    margin: 1vw;
    position: absolute;
    top: 8rem
}

#sio-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#accueil{
    /* position: absolute;
    top: 2rem; */
    position: relative;
    top: 4rem
}

#ancre-bts{
    position: relative;
    bottom: 10vh;
    visibility: hidden;
}

.doc-card{
    /* background-color: rgb(228, 180, 238); */
    background-color: white;
    margin: 1rem;
    width: 12vw;
    height: 15vw;
    border: 2px solid black;
    position: relative;
    bottom: 0;
    transition: bottom 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doc-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.doc-card:hover{
    /* width: 13vw;
    height: 16vw; */
    bottom: 0.5rem;
}

.info{
    position: absolute;
    right: 0;
    padding: 2%;
    visibility: hidden;
}

.card-title{
    position: absolute;
    bottom: 5%;
    font-weight: bolder;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }

/* .doc-card>img.card-icon{
    position: absolute;
    top: 20%;
} */

.img-link{
    padding-left: 2rem;
    padding-right: 2rem;
}

.R{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 12vh;
}